body {
	background-color: #252525;
  font-family: Consolas;

}

.paranormal-svg {
	text-align: center;
}
.ddddd {
	font-size: 300px;
	margin: -100px 50px
}
h2 {
	margin-top: 70px;
	color: #fff;
}
a {
	color: #fff;
	font-size: 20px
}